.button {
  align-items: center;
  border: var(--border-width--thick) solid transparent;
  cursor: pointer;
  display: flex;
  font-size: var(--font-size--ui);
  font-weight: var(--font-weight--bold);
  gap: var(--space--x-small);
  justify-content: center;
  line-height: 1;
  padding-block: var(--space--base);
  padding-inline: var(--space--medium);
  text-align: center;
  text-decoration: none;
  transition-duration: var(--transition-duration--base);
  transition-property: background-color, color;
  transition-timing-function: var(--transition-timing--base);

  &:focus-visible {
    outline: var(--border-width--thick) solid var(--color--focus);
    outline-offset: 2px;
  }
}

.button--primary {
  --bg-color: var(--color--button-primary);

  background-color: var(--bg-color);
  border-radius: var(--border-radius--base) var(--border-radius--small) var(--border-radius--base) var(--border-radius--small);
  color: contrast-color(var(--bg-color));

  &:hover,
  &:focus-visible {
    --bg-color: var(--color--button-primary-hover);
    color: contrast-color(var(--bg-color));
  }
}

.button--secondary {
  --bg-color: var(--color--button-secondary);

  background-color: var(--bg-color);
  border-color: var(--color--button-secondary-hover);
  border-radius: var(--border-radius--small) var(--border-radius--base) var(--border-radius--small) var(--border-radius--base);
  color: contrast-color(var(--bg-color));

  &:hover,
  &:focus-visible {
    --bg-color: var(--color--button-secondary-hover);
    color: contrast-color(var(--bg-color));
  }
}

.button--icon {
  background-color: var(--color--button-secondary);
  border-radius: var(--border-radius--small);
  color: var(--color--text-base);
  padding-block: var(--space--small);
  padding-inline: var(--space--small);

  &:hover,
  &:focus-visible {
    --bg-color: var(--color--button-primary-hover);
    color: var(--color--button-primary-hover);
  }
}

.button:disabled {
  cursor: not-allowed;
}
