:root {
  /* Color scheme settings */
  color-scheme: light dark;

  /* Primitive colors */
  --color--black-base: #000000;
  --color--blue-base: #6288bc;
  --color--blue-light: #edf5ff;
  --color--gray-base: #eff4f8;
  --color--green-base: #71c09e;
  --color--green-light: #f2fff9;
  --color--navy-base: #444d5c;
  --color--navy-dark: #282e38;
  --color--orange-base: #f3895f;
  --color--orange-light: #fff5f1;
  --color--purple-base: #755384;
  --color--purple-light: #fcf4ff;
  --color--red-base: #f83d34;
  --color--red-dark: #cf2821;
  --color--white-base: #ffffff;
  --color--yellow-base: #ebaf24;
  --color--yellow-light: #fff8e9;

  /* Semantic colors */
  --color--primary-base: var(--color--red-base);
  --color--primary-dark: var(--color--red-dark);
  --color--primary-inverse: var(--color--navy-base);
  --color--primary-inverse-dark: var(--color--navy-dark);

  --color--text-base: var(--color--navy-base);
  --color--text-inverse: var(--color--white-base);
  --color--text-dark: var(--color--black);

  --color--accent-blue: var(--color--blue-base);
  --color--accent-blue-background: var(--color--blue-light);
  --color--accent-green: var(--color--green-base);
  --color--accent-green-background: var(--color--green-light);
  --color--accent-orange: var(--color--orange-base);
  --color--accent-orange-background: var(--color--orange-light);
  --color--accent-purple: var(--color--purple-base);
  --color--accent-purple-background: var(--color--purple-light);
  --color--accent-yellow: var(--color--yellow-base);
  --color--accent-yellow-background: var(--color--yellow-light);

  --color--background-base: var(--color--white-base);
  --color--background-secondary: var(--color--gray-base);
  --color--background-dark: var(--color--navy-dark);

  --color--button-primary: var(--color--primary-inverse-dark);
  --color--button-primary-hover: var(--color--primary-base);

  --color--button-secondary: var(--color--background-base);
  --color--button-secondary-hover: var(--color--primary-inverse-dark);

  --color--focus: var(--color--primary-dark);
  --color--link: var(--color--primary-base);
  --color--link-hover: var(--color--primary-dark);

  /* Font & typography */
  --font-size--50: 0.875rem;
  --font-size--100: 1.125rem;
  --font-size--200: 1.5rem;
  --font-size--300: 2rem;
  --font-size--400: clamp(2rem, 1.25rem + 2vw, 2.5rem);
  --font-size--500: clamp(2.5rem, 1.375rem + 3vw, 3.25rem);
  --font-size--600: clamp(3rem, 1.875rem + 3vw, 3.75rem);

  --font-size--body-callout: var(--font-size--500);
  --font-size--body-default: var(--font-size--100);
  --font-size--body-large: var(--font-size--200);
  --font-size--body-small: var(--font-size--50);
  --font-size--heading-data: var(--font-size--200);
  --font-size--heading-overline: var(--font-size--300);
  --font-size--heading-section: var(--font-size--400);
  --font-size--heading-subsection: var(--font-size--300);
  --font-size--heading-title-big: var(--font-size--600);
  --font-size--heading-title-small: var(--font-size--500);
  --font-size--ui: var(--font-size--100);

  --font-weight--normal: 400;
  --font-weight--bold: 700;

  --font-family--sans: system-ui, "Arial", "Helvetica", sans-serif;
  --font-family--serif: Hoefler Text, Baskerville Old Face, Garamond, Times New Roman, serif;
  
  --font-family--body: var(--font-family--sans);
  --font-family--heading-default: var(--font-family--serif);
  --font-family--heading-overline: var(--font-family--sans);
  --font-family--heading-data: var(--font-family--sans);

  --line-height--base: 1.5;
  --line-height--tight: 1.2;

  /* Borders */
  --border-radius--small: 0.25rem;
  --border-radius--base: 1rem;
  --border-radius--large: 2rem;
  --border-radius--x-large: 6.25rem;
  --border-radius--circle: 100%;

  --border-width--base: 1px;
  --border-width--thick: 2px;

  --border--base: var(--border-width--base) solid var(--color--primary-base);
  --border--light: var(--border-width--base) solid var(--color--gray-base);
  --border--dark: var(--border-width--base) solid var(--color--primary-inverse);

  /* Container sizing */
  --container--base: 50rem;
  --container--large: 85rem;

  /* Spacing */
  --space--xx-small: 0.25rem;
  --space--x-small: 0.5rem;
  --space--small: 0.75rem;
  --space--base: 1rem;
  --space--medium: 1.5rem;
  --space--large: 2rem;
  --space--x-large: 3rem;
  --space--xx-large: 4rem;


  /* Spacing - Page margins */
  --space--page-margin-inline: var(--space--base);
  --space--page-margin-block: var(--space--large);

  /* Transitions */
  --transition-duration--base: 0.2s;
  --transition-timing--base: ease-in-out;

  /* Z-index */
  --z-index--basement: -999999;
  --z-index--base: 1;
  --z-index--layout: 1000;
  --z-index--modal: 4000;
  --z-index--ceiling: 999999;

  /* High contrast settings */
  @media (prefers-contrast: more) {
    --color--focus: Highlight;
    --color--text-base: ButtonText;
    --border--base: var(--border-width--base) solid ButtonText;
    --border--light: var(--border-width--base) solid ButtonText;
    --border--dark: var(--border-width--base) solid ButtonText;
  }

  /* Breakpoints

    CSS custom properties (variables) cannot be used for breakpoint values,
    however, to make debugging easier and to stay consistent, try to stick to
    these values when delaring breakpoints throughout the codebase.

    x-small: 320px;
    small: 600px; - Used for mobile layout
    medium: 820px;
    large: 1000px;
  */
}

@media screen and (min-width: 1000px) {
  :root {
    --space--page-margin-inline: var(--space--x-large);
  }
}
