.cta {
  background-color: var(--color--background-secondary);
  border-radius: var(--border-radius--base) var(--border-radius--x-large) var(--border-radius--base) var(--border-radius--x-large);
  display: flex;
  justify-content: center;
  padding: var(--space--xx-large);

  p {
    font-family: var(--font-family--heading-base);
    font-size: var(--font-size--body-callout);
    font-weight: var(--font-weight--normal);
    line-height: var(--line-height--tight);
    margin: 0;
  }
}

.cta__inner {
  display: flex;
  flex-direction: column;
  gap: var(--space--medium);
  max-width: 85ch;
}
