.global-footer {
  background-color: var(--color--background-dark);
  color: var(--color--text-inverse);
  grid-template-areas:
    "logo"
    "links"
    "newsletter"
    "legal";
  padding-block: var(--space--base);
  padding-inline: var(--space--medium);

  @container global-footer (min-width: 65em) {
    grid-template-areas:
      "logo logo logo links links links links"
      "newsletter newsletter newsletter newsletter newsletter newsletter newsletter"
      "legal legal legal legal legal legal legal";
  }
}

.global-footer__section h2 {
  font-size: var(--font-size--body-base);
}

.global-footer__nav a {
  color: var(--color--text-inverse);
  text-decoration-color: var(--color--text-inverse);

  &:hover {
    text-decoration-color: var(--color--link-accent);
  }
}

.global-footer__logo {
  color: var(--color--text-inverse);
  grid-area: logo;
  place-self: start;

  svg {
    height: auto;
    width: 20rem;
  }
}

.global-footer__links {
  display: grid;
  gap: var(--space--large);
  grid-area: links;
  grid-template-columns: 1fr;

  @container global-footer (min-width: 65em) {
    grid-template-columns: subgrid;
  }
}

.global-footer__newsletter {
  border-top: var(--border--dark);
  grid-area: newsletter;

  @container global-footer (min-width: 65em) {
    display: grid;
    grid-template-columns: subgrid;
  }
}

.global-footer__newsletter-form {
  display: flex;
  flex-direction: column;
  gap: var(--space--small);
  margin-top: var(--space--small);

  @container global-footer (min-width: 65em) {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
  }
}

.global-footer__newsletter-form button {
  @container global-footer (min-width: 65em) {
    align-self: end;
  }
}

.global-footer__newsletter-form :where(input, button) {
  block-size: 3.5rem;
  box-sizing: border-box;
}

.global-footer__section--bottom {
  border-top: var(--border--dark);
  display: grid;
  font-size: var(--font-size--body-small);
  gap: var(--space--medium);
  grid-area: legal;
  grid-template-areas:
    "copyright"
    "legal-links";
  grid-template-columns: subgrid;
  padding-block-start: var(--space--base);

  @container global-footer (min-width: 65em) {
    grid-template-areas: "copyright copyright copyright legal-links legal-links legal-links legal-links";
  }
}

.global-footer__copyright {
  grid-area: copyright;
}

.global-footer__section--bottom .global-footer__nav {
  grid-area: legal-links;

  @container global-footer (min-width: 65em) {
    display: grid;
    grid-template-columns: subgrid;

    ul {
      display: grid;
      grid-column: 1 / -1;
      grid-template-columns: subgrid;
    }
  }
}

.global-footer__nav ul {
  display: flex;
  flex-direction: column;
  gap: var(--space--small);
  list-style: none;
  margin: 0;
  padding: 0;
}
