.hero {
  background-color: var(--color--theme-background);
  margin-inline: calc(-1 * var(--space--medium));
  padding-block: var(--space--x-large);
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: var(--space--medium);

  h1, h2 {
    margin: 0;
  }

  h1 {
    font-family: var(--font-family--heading);
    font-size: var(--font-size--heading-overline);
    font-weight: var(--font-weight--bold);
  }

  h2 {
    font-family: var(--font-family--heading);
    font-size: var(--font-size--heading-title-small);
    font-weight: var(--font-weight--normal);
    line-height: var(--line-height--tight);
  }
}

.hero--home {
  min-width: 0;
  padding-block-end: 0;
}

.hero--home h2 {
  font-size: var(--font-size--heading-title-big);
}
