.home-gallery__items {
  margin: 0;

  picture {
    aspect-ratio: 16 / 9;
  }
}

@media (min-width: 55em) {
  .home-gallery__items > :first-child {
    grid-column: span 3;
    grid-row: span 2;
  }

  .home-gallery__items > :nth-child(2),
  .home-gallery__items > :nth-child(3) {
    grid-column: span 2;
  }

  .home-gallery__items > :nth-child(4) {
    grid-column: span 1;
  }

  .home-gallery__items > :nth-child(5) {
    grid-column: span 3;
  }
}
