.info-block {
  display: flex;
  flex-direction: column;
  gap: var(--space--medium);
}

.info-block--border {
  border: var(--border--dark);
  border-radius: var(--border-radius--base);
}

.info-block__content {
  display: flex;
  flex-direction: column;
  gap: var(--space--small);

  h2,
  h3,
  h4 {
    margin: 0;
  }

  p,
  ul,
  ol {
    margin-block-start: 0;
  }

  h2 {
    font-family: var(--font-family--heading-overline);
    font-size: var(--font-size--heading-overline);
    font-weight: var(--font-weight--bold);
  }

  h3 {
    font-family: var(--font-family--heading-base);
    font-size: var(--font-size--heading-subsection);
    font-weight: var(--font-weight--normal);
    line-height: var(--line-height--tight);
  }
}

.info-block__content:has(> h4) {
  h3 {
    font-family: var(--font-family--heading-overline);
    font-size: var(--font-size--heading-overline);
    font-weight: var(--font-weight--bold);
  }

  h4 {
    font-family: var(--font-family--heading-base);
    font-size: var(--font-size--heading-subsection);
    font-weight: var(--font-weight--normal);
    line-height: var(--line-height--tight);
  }
}
