.news-list {
  display: grid;
  gap: var(--space--x-large);

  .pagination {
    padding-block: var(--space--large);
  }
}

.news-teases {
  --gutter: var(--space--large);

  display: grid;
  gap: var(--gutter);
}

.news-teases__item {
  border-bottom: var(--border--light);
  padding-block-end: var(--gutter);
  display: grid;
  gap: var(--space--small);

  h3, p {
    margin: 0;
  }
}

.news-teases__date {
  font-size: var(--font-size--body-small);
}

.news-teases__title {
  font-size: var(--font-size--heading-subsection);
}

.news-featured {
  display: grid;
  gap: var(--space--large);
  padding-block-end: var(--space--large);

  @media (min-width: 55em) {
    &:has(.news-featured__image) {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.news-featured__content {
  align-content: start;
  display: grid;
  gap: var(--space--small);

  p {
    margin: 0;
  }
}

.news-featured__date {
  font-size: var(--font-size--body-small);
}

.news-featured__title {
  font-family: var(--font-family--heading);
  font-size: var(--font-size--heading-section);
  line-height: var(--line-height--tight);
  margin: 0;
}

.news-latest {
  display: grid;
  gap: var(--space--large);
}

.news-latest__heading {
  margin: 0;
}
