.news-list {
  .pagination { padding-block: var(--space--large); }
}

.news-teases {
  --gutter: var(--space--large);

  display: grid;
  gap: var(--gutter);
}

.news-teases__item {
  border-bottom: var(--border--light);
  padding-block-end: var(--gutter);
  display: grid;
  gap: var(--space--small);

  h3, p {
    margin: 0;
  }
}

.news-teases__date {
  font-size: var(--font-size--body-small);
}

.news-teases__title {
  font-size: var(--font-size--heading-subsection);
}
