.pagination {
  display: flex;
  justify-content: space-between;
}

.pagination__number {
  font-size: var(--font-size--body-small);
  margin: 0;
}

.pagination__number-current {
  font-weight: var(--font-weight--bold);
}
